RewriteEngine On
#RewriteCond %{HTTPS} !=on
#RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [QSA,L]

# Proteger o arquivo .htaccess
<Files .htaccess>
    Order Allow,Deny
    Deny from all
</Files>

# Proteger a pasta contra listagem de diretórios
Options -Indexes